body {
	font-size: 1.3rem;
	line-height: 1.5rem;
}

*, *:before, *:after {
    .box-sizing(border-box);
}
h5 {
	margin-bottom: 3rem;
}

h6 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}
ul li{
	font-size: 12px;
	margin-bottom: 3px;
	display: inline;
	margin-right: 20px;
}
ul li {
}
strong {
	font-weight: bold;
}
br {
	margin-bottom: 1.5rem;
}
th, td {
	font-size: 1.2rem;
}
.datos-generales {
	background: #F6F6F6;
	padding: 20px;
	margin-bottom: 20px;
}
.row {
	clear: both;
	width: 100%
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
/*
.print-area .row:nth-child(even) {
	background: #f2f2f2;
}
*/
.print-area .columns, .print-area .column {
	border-bottom: 1px dotted #999;
}
.signature {
	margin-bottom: 2rem;
	margin-top: 3rem;
}
.signature .columns {
	border-bottom: 0;
}
.signature .three {
	border-top: solid 1px black;
}
.logo {
	margin-bottom: 2rem;
}

@media print {
	@page {
		margin: 15mm 15mm 15mm 15mm;
	}
	.container {
		width: 800px;
	}
	.datos-generales {
		display: none;
	}
}